@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme{
  --color-main: #1F4529;
  --color-sub: #4E8989;
  --color-merino: #F5EFE0;
  --color-madang: #B8E6B8;
  --color-regentstblue:#A7C7E7;
  --color-woodsmoke:"#18181B";
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

ol,
ul,
li{
  margin: 0;
}

dl,
dd,
dt{
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0;
}



/* ページタイトル装飾 */
.top-circle{
  border-radius: 6000px 6000px / 300px 300px 0 0 ;
  margin: 0px -200px;
  padding: 64px 200px;
}


.bottom-circle{
  border-radius: 0 0 2000px 2000px / 0 0 300px 300px;
  margin: 0px -200px;
  padding: 64px 200px;
}


